.app-screen {
	label {
    	font-weight: 300;
    }

    .model_group {
        @extend .form-group;
    }

    .model_label {
        @extend .col-sm-2, .col-sm-offset-1, .control-label;
    }
    
    .model_input {
        @extend .col-sm-7;
    }

    .model_action {
        @extend .col-sm-6, .col-sm-offset-3;
    }

    // Make fa-icon work in bootstraps form-feedback...
    .form-control-feedback {
        top: 9px;
    }
    
    .schedule_group {
        padding: 0px 0px 5px 0px;
    }

    .schedule_label {
        @extend .control-label;
    }
    
    .schedule_input {

    }

    .schedule_action {

    }

    /*
    form > div.panel-body > div.form-group > label {
        @extend .col-sm-2, .col-sm-offset-1;
    }
    form > div.panel-body > div.form-group > div {
        @extend .col-sm-7;
    }

    option[selected]:before {
    	
    }
    */
}
