.search_group {
	@extend .form-group, .has-feedback, .form-horizontal;
}

.search_label {
	@extend .col-sm-2, .col-sm-offset-1, .control-label;
	padding-top: 7px;
}

.search_input {
	@extend .col-sm-offset-2, .col-sm-8;
	padding-bottom: 15px;
}

.search_expander {
	margin-left: auto;
	margin-right: auto;
}

.search_icon {
	@extend .form-control-feedback;
	right: 15px;
	top: 9px;
	position: absolute;
}