.searchfilter {
	@extend .form-group, .has-feedback, .form-horizontal;

	.searchfilter_input {
		@extend .col-sm-offset-2, .col-sm-8;
		padding-bottom: 15px;

		.searchfilter_icon {
			@extend .form-control-feedback;
			right: 15px;
			top: 0px !important;
			position: absolute;
		}

	}

}

.searchresults_expander {
	margin-left: auto;
	margin-right: auto;
}
