.searchfilter {
    @extend .form-group, .has-feedback, .form-horizontal, .col-sm-12;

    .searchfilter_left {
        @extend .col-sm-2;
        padding-bottom: 15px;
    }

    .searchfilter_right {
        @extend .col-sm-2;
        padding-bottom: 15px;
    }

    .searchfilter_input {
        @extend .col-sm-8;
        padding-bottom: 15px;

        .searchfilter_icon {
            @extend .form-control-feedback;
            right: 15px;
            top: 0px !important;
            position: absolute;
        }

    }

}

.searchresults_expander {
    margin-left: auto;
    margin-right: auto;
}
