/vendor
/node_modules
/public/css/app.css
/public/css/app.css.map
/public/js/bundle.js
/public/screens/*
Homestead.yaml
.env
/storage/database.sqlite
_ide_helper.php
composer.lock
.idea/*
.idea/workspace.xml