.previewthumb {
    width: 200px;
    height: 200px;
    margin: auto;
    img {
        cursor: zoom-in;
        width: 100%;
    }
}

.previewmodal {
    margin: auto auto;
    cursor: zoom-out;
}

.errorthumb {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0px 10px;
}

.loadingthumb {
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 0px 46px;

    .loadingthumb1, .loadingthumb2, .loadingthumb3 {
        background: #999;
        width: 30px;
        height: 50px; float: left;
        margin: 75px 3px;
        padding: 0px 0px;
        border-radius: 7px;
        border: 1px solid #aaa;
    }

    .loadingthumb1 {
        opacity: 1.0;
        animation: thumbanimation1 .9s linear infinite;
    }
    .loadingthumb2 {
        opacity: 1.0;
        animation: thumbanimation2 .9s linear infinite;
    }
    .loadingthumb3 {
        opacity: 1.0;
        animation: thumbanimation3 .9s linear infinite;
    }

    @keyframes thumbanimation1 {
        0%   {opacity: 0.3;}
        16%  {opacity: 1.0;}
        32%  {opacity: 0.3;}
        100% {opacity: 0.3;}
    }
    @keyframes thumbanimation2 {
        0%   {opacity: 0.3;}
        32%  {opacity: 0.3;}
        48%  {opacity: 1.0;}
        64%  {opacity: 0.3;}
        100% {opacity: 0.3;}
    }
    @keyframes thumbanimation3 {
        0%   {opacity: 0.3;}
        64%  {opacity: 0.3;}
        80%  {opacity: 1.0;}
        96%  {opacity: 0.3;}
        100% {opacity: 0.3;}
    }

}
