/* Tooltip cursor-change */
.glyphicon-exclamation-sign {
  cursor: help;
}

/* Fix Input-CSS on Warning-state */
.has-warning .form-control {
  border-color: #F00; color:#330000; background-color:#FFEFEF;
}
.has-warning .form-control:active, .has-warning .form-control:focus {
  border-color: #F00; color:#330000; background-color:#FFEFEF;
    box-shadow: 0px 0px 5px #ff0000;
}

/* Prevent Button-Groups from wrapping (in tables) */
td div.btn-group {
  white-space: nowrap;
}
td div.btn-group .btn {
  float: none;
  display: inline-block;
}
/* Prevent Tooltip from wrapping */
.tooltip-inner {
	white-space: nowrap;
}

.delete-button {
    display: block;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap;
}