.screencard{
    @extend .col-sm-6, .col-md-3, .col-xs-6;
    padding: 7px;

    .screencard_content{
        padding: 3px;
        border: 1px solid #bbb;
        border-radius: 3px;
    }

    .screencard_img{
        width: 100%;
        height: auto;
    }

    .screencard_error{
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 0px 10px;
    }

    .screencard_tools{
        @extend .btn-group-vertical;
        position: absolute;
        right: 10px;
        top: 11px;
        padding: 0px;
        margin: 0px;

        .btn {
            border-top-right-radius: 0px !important;



        }

    }

    .inactive{
        opacity: 0.5;
    }

}
