/* Import */
@import "vendor/ticker";
@import "node_modules/vegas/dist/vegas.min";
@import "node_modules/font-awesome/scss/font-awesome";

/* General */
*, *:before, *:after {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    position: relative;
    background: #000;
    color: #fff;
    font: 1em Arial, sans-serif;
}

/* Vegas Customizing */
.vegas-timer {
    z-index: 500 !important;
}
.vegas-timer-progress {
    background: #F24535;
}
.vegas-overlay {
    opacity: .5;
}

/* Ticker Customizing */
.ticker-wrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 8.76vh;
    margin: 0px;
    padding: 0px;
    border: 1px #000000 solid;
    background-color: rgba(11,11,11,0.8);
}
.ticker-content {
    font-size: 4vh;
    margin: 2.38vh 1.7vw 2.38vh 1.7vw;
    font-family: 'courier new';
    line-height: 4vh;
    color: #feff80;
}

/* Control */
.vegas_control {
    position: fixed;
    top:0px;
    right: 10px;
}
.ticker_control {
    position: fixed;
    bottom: 0vh;
    right: 10px;
}
.vegas_control a,   .vegas_control a:focus,   .vegas_control a:active,
.ticker_control li, .ticker_control li:focus, .ticker_control li:active
{
    background: rgba(0,0,0,0.5);
    color: #fff;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 25px;
    box-shadow: 0px 0px 5px #000000;
    outline:0;
    float: left;
    width: 35px;
    height: 35px;
    margin: 5px 10px;
    text-align: center;
    vertical-align: center;
    line-height: 35px;
}
.vegas_control a:hover,
.ticker_control li:hover
{
    background: rgba(0,0,0,0.5);
    color: #fff;
    border: 1px solid rgba(222,222,222,0.5);
    border-radius: 25px;
    cursor: pointer;
}
